/* ----- Theme Fonts CSS Updated Here ------- */

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-Black.ttf");
    font-weight: 900;
    font-display: swap;
}

/* ---- General CSS Update Here ---- */

* {
    font-family: 'Poppins', sans-serif;
}

.custom-theme-button {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .8px;
    padding: 20px 100px 20px 20px;
    border: none;
    background-color: transparent;
    overflow: hidden;
    transition: all .3s ease;
    z-index: 1;
}

a.custom-theme-button {
    text-decoration: none;
}

.custom-theme-button::before,
.custom-theme-button .btn-cut-shape {
    position: absolute;
    top: 0;
}

.custom-theme-button::before {
    content: '';
    left: 0;
    height: 100%;
    width: calc(100% - 85px);
    background-color: #053f77;
    z-index: -1;
}

.custom-theme-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    right: 40px;
    top: -30px;
    border-left: 48px solid transparent;
    border-right: 45px solid transparent;
    border-top: 140px solid #053f77;
    transform: rotate(28deg);
    z-index: -1;
}

.btn-cut-shape {
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 70px solid #4c4c4c;
    border-left: 70px solid transparent;
}

a,
button,
input,
textarea {
    outline: none;
}

.common-theme-section {
    padding: 100px 0;
}

.section-main-description h4 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
}

.section-main-description h2 {
    color: #005a9b;
    font-size: 52px;
    font-weight: 700;
}

.section-main-description h3 {
    color: #053f77;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5;
}

.section-main-description p,
.section-main-description h5 {
    color: #323333;
    font-size: 18px;
    font-weight: 400;
}

.section-main-description h5 {
    font-size: 22px;
    line-height: 1.5;
}

.main-outer-container {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

/* ----- Site Header CSS Updated Here ------ */
header.site-header {
    left: 0;
    right: 0;
    z-index: 9;
}

/* ------ Home Banner Section CSs Updated Here ------ */
.home-banner-section {
    padding: 220px 0 150px;
    background-image: url("../img/Home-Banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-banner-section .banner-section-content h1 {
    color: #005a9b;
    font-size: 62px;
    font-weight: 800;
}

.home-banner-section .banner-section-content p {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

/* ---- About Us Section CSS Updated Here ------ */
.about-us-section .about-us-content .about-us-blockquote {
    border-left: 10px solid #005a9b;
}

.about-us-section .about-mission-desc {
    border-bottom: 1px solid #000;
}

/* ----- Featured Block Section CSS Updated Here ----- */
.our-featured-section .featured-project-block-first {
    background-image: url("../img/newfield-img.png");
}

.our-featured-section .featured-project-block-two {
    background-image: url("../img/newfield2.png");
}

.our-featured-section .featured-project-block-third {
    background-image: url("../img/newfield3.png");
}

.our-featured-section .featured-project-block-forth {
    background-image: url("../img/newfield4.png");
}

.our-featured-section .featured-project-block {
    height: 100%;
    padding-top: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-featured-section .featured-project-block .featured-block-desc h3 {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.our-featured-section .featured-project-block .featured-block-desc p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.our-featured-section .featured-project-block .featured-block-desc .featured-block-btn {
    right: 0;
}

/* ------- Testimonials Section CSS Updatd Here ------ */

.testimonials-section .swiper-overflow-visible {
    overflow: visible;
}

.testimonials-section .testimonial-slide-card {
    padding: 20px 30px 30px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.testimonials-section .testimonial-slide-card .slide-card-top h6,
.testimonials-section .testimonial-slide-card .slide-card-body a.read-full-article {
    color: #053f77;
    font-size: 16px;
    font-weight: 600;
}

.testimonials-section .testimonial-slide-card .slide-card-body h4,
.testimonials-section .testimonial-slide-card .slide-card-body p {
    color: #323333;
    line-height: 1.5;
}

.testimonials-section .testimonial-slide-card .slide-card-body h4 {
    font-size: 22px;
    font-weight: 700;
}

.testimonials-section .testimonial-slide-card .slide-card-body p {
    font-size: 16px;
    font-weight: 400;
}

.testimonials-section .swiper-navigation {
    position: absolute;
    top: -120px;
    right: 0;
}

.testimonials-section .swiper-navigation .swiper-button-next,
.testimonials-section .swiper-navigation .swiper-button-prev {
    width: 35px;
}

.testimonials-section .swiper-navigation .swiper-button-prev {
    left: -80px;
    transform: rotate(180deg);
}

.testimonials-section .swiper-navigation .swiper-button-next {
    left: 0;
}

.testimonials-section .swiper-navigation .swiper-button-next::after,
.testimonials-section .swiper-navigation .swiper-button-prev::after {
    font-size: 0;
    width: 100%;
    height: 30px;
    background: url("../img/arrow-icon.png") center / cover no-repeat;
}


/* ------ Our Blog Section CSS Updated Here ------- */
.our-blog-section .our-blog-card .blog-card-desc h6 {
    color: #696969;
    font-size: 16px;
    font-weight: 500;
}

.our-blog-section .our-blog-card .blog-card-desc h3 {
    color: #000;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5;
}

.our-blog-section .our-blog-card .blog-card-desc a.learn-more-btn {
    color: #005a9b;
    font-size: 18px;
    font-weight: 700;
}

.our-blog-section .our-blog-card .blog-card-desc a.learn-more-btn span {
    border-bottom: 1px solid #005a9b;
}

.our-blog-section .single-blog-card .blog-card-desc h3 {
    font-size: 30px;
}

.our-blog-section .single-blog-card .blog-card-desc a.learn-more-btn {
    font-size: 22px;
}

.our-blog-section .our-blog-card .blog-card-img {
    min-width: 310px;
    width: 310px;
    padding-top: 270px;
    background: url("../img/blog-2.png") center / cover no-repeat;
}

.our-blog-section .our-blog-card:nth-child(2) .blog-card-img {
    background: url("../img/blog-3.png") center / cover no-repeat;
}


/* ----- Responsive Screens Breakpoints Updated Here --------- */
@media screen and (max-width: 1199px) {

    .home-banner-section .banner-section-content h1 {
        font-size: calc(2rem + 1.5vw);
    }

    .section-main-description h4 {
        font-size: 22px;
    }

    .section-main-description h2 {
        font-size: calc(2rem + 0.8vw);
    }

    .section-main-description h3 {
        font-size: 25px;
    }

    .section-main-description p,
    .section-main-description h5 {
        font-size: 16px;
    }

    .section-main-description h5,
    .home-banner-section .banner-section-content p {
        font-size: 20px;
    }

    .custom-theme-button {
        font-size: 18px;
        padding: 15px 100px 15px 20px;
    }

    .our-blog-section .single-blog-card .blog-card-desc h3 {
        font-size: 25px;
    }

    .our-blog-section .single-blog-card .blog-card-desc a.learn-more-btn {
        font-size: 20px;
    }

    .testimonials-section .swiper-navigation {
        right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .home-banner-section {
        padding: 180px 0 80px;
    }

    .our-blog-section .our-blog-card .blog-card-img {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {

    .testimonials-section .swiper-navigation {
        top: inherit;
        bottom: -35px;
        right: 45px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .our-blog-section .our-blog-card .blog-card-img {
        min-width: 230px;
        width: 230px;
        padding-top: 190px;
    }

    .our-blog-section .our-blog-card .blog-card-desc h3 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .our-blog-section .our-blog-card .blog-card-img {
        min-width: 270px;
        width: 270px;
        padding-top: 230px;
    }
}

@media screen and (min-width: 992px) {
    .testimonials-section .swiper-backface-hidden .swiper-slide {
        opacity: .4;
    }

    .testimonials-section .swiper-slide.swiper-slide-active,
    .testimonials-section .swiper-slide.swiper-slide-next,
    .testimonials-section .swiper-slide.swiper-slide-next+.swiper-slide {
        opacity: 1;
    }
}